body{
    font-family: 'Cabin', sans-serif;
    color: #000;
    overflow-x: hidden;
}
/*****************************GLOBAL******************/
.bg-white {
    background-color: #fff!important;
}
.bg-blue{
    background: #f5f9fc;
}
a:hover{
    text-decoration: none;
}
.section{
    padding-top: 100px;
    padding-bottom: 100px;
}
.section .section-title {
 text-align: center;
 margin-bottom: 60px;
}
.section .section-title  h2{
    font-weight: 300;
    color: #5b32b4;
    font-size: 48px;
    margin: 0;
    position: relative;

}
.section .section-title  h2::after{
    content: '';
    width: 80px;
    height: 2px;
    position: absolute;
    background-color: #fb397d;
    bottom: -15px;
    left: calc(50% - 40px);
}
ul{
    list-style-type: none;
}
ul li{
    display: inline-block;
}
/*******************************************************************************Start Header*/
/*.header{
    background:#884bdf
    color: #fff ; 
    width: 100%;
    padding: 0 70px;
    position: absolute;
    z-index: 99;
    top:0;
    left: 0;
}
.header a{
    color: #fff;
}
.header .navbar-brand{
    font-size: 72px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.navbar-nav {
    margin-left: 200px;
}
.navbar-nav .nav-link{
    font-size: 16px;
    padding: 35px 15px;
    font-weight: 500;
    border-radius: 30px;

}
.header .menu form{
  margin-left: 60px;
}
.header .menu form a{
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: 2px solid #a883e9;
    height: 50px;
    min-width: 178px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 0px;
    transition-duration: 500ms;
    
}
.header .menu form a:hover{
    text-decoration: none;
    background: #fb397d;
    color: #fff;
    border-color: transparent;
    transition-duration: 500ms;
}
/*End Header*********************************************************************************************************/
/*Start Home*/
.home{
    background-image: url('../images/welcome-bg.png');
    background-position: bottom center;
    background-size: cover;
    height: 900px;
    position: relative;
    z-index: 1;
}
.home .container,
.home .container .row{
    height: 100%;
}
.home .container .row  {
 align-items: center;
}
.home .home-hrading{
    color: #fff;
    margin-bottom: 100px;
}
.home .home-hrading h2{
    font-size: 100px;
    font-weight: 700;
    position: relative;
    z-index: 3;
}
.home .home-hrading h3{
    font-size: 332px;
    position: absolute;
    top: -134px;
    font-weight: 900;
    left: -13px;
    z-index: -1;
    opacity: .1;
}
.home .home-hrading p{
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}
.home .start form input[type=email]{
    background: #9572e8;
    height: 50px;
    max-width: 260px;
    border: none;
    border-radius: 24px;
    padding: 0px 15px;

}
.home .start form input[type=email]::-webkit-input-placeholder{
    color: #fff;
}
.home .start form input[type=email]::-moz-placeholder{
    color: #fff;
}
.home .start form input[type=email]:-ms-input-placeholder {
    color: #fff;
}
.home .start form input[type=email]:-moz-placeholder {
    color: #fff;
}
.home .start form input[type=submit]{
    color: #fff;
    border-radius: 24px 24px 24px 0px;
    transition-duration: 500ms;
    background: #fb397d;
    border: none;
    font-weight: 500;
    display: inline-block;
    height: 50px;
    min-width: 167px;
    line-height: 46px;
    text-align: center;
    margin-left: 10px;
}
.home .start form input[type=submit]:hover{
    background: #6f52e5;
    transition-duration: 500ms;
}
.home .home-thump{
    width: 45%;
    position: absolute;
    bottom: -130px;
    right: 85px;
    
   
}
.home .home-thump img{
    width: 100%;
}
/*Start about*/
.about{
    width: 100%;
 
}
.about .about-content{
    border: 1px solid #eff2f6;
    padding: 40px;
    border-radius: 40px 40px 40px 0px;
    -webkit-transition-duration: 800ms;
    -o-transition-duration: 800ms;
    transition-duration: 800ms;
    margin-bottom: 30px;
    text-align: center;
}
.about .about-content .icon{
    margin-bottom: 25px;
}
.about .about-content .icon i{
    color: #fb397d;
    font-size: 36px;
}
.about .about-content h4{
    font-size: 22px;
    color: #5b32b4;
    margin-bottom: 15px;
}
.about .about-content p{
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}
.about .about-content:hover{
    -webkit-box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
    box-shadow: 0 10px 90px rgba(0, 0, 0, 0.08);
    transition-duration: 800ms;
}
.about .about-description{
    margin-top: 150px;
}
.about .about-description .about-text{
    margin-left: 85px;
}

.about .about-description .about-text h2{
    color: #5b32b4;
    font-size: 48px;
    margin-bottom: 30px;
}
.about .about-description .about-text p{
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}
.about .about-description .download-store{
    width: 100%;
    margin-left: 85px;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.about .about-description .download-store .download-app{
    margin-right: 20px;
 
}
.about .about-description .download-store .download-app a{
    border: 1px solid #ddd;
    align-items: center;
    padding: 15px 30px;
    border-radius: 30px 30px 30px 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    justify-content: center;
    transition-duration: 500ms;
    color: #47425d;
    
}

.about .about-description .download-store .download-app i{
    display: inline-block;
    font-size: 24px;
    margin-right: 15px;
  
}
.about .about-description .download-store .download-app p{
    display: inline-block;
   
    font-size: 16px;
    line-height: 1;
}
.about .about-description .download-store .download-app p span{
    font-size: 12px;
    display: block;
}
.about .about-description .download-store .download-app a:hover{
    text-decoration: none;
   border-color: transparent;
    background-color: #fb397d;
    color: #fff;
    transition-duration: 500ms;
    
}
/*********End about***********/
/*start features*/
.features .feature-content i{
    color: #fb397d;
    display: inline-block;
    font-size: 30px;
    margin-right: 10px;
}
.features .feature-content h5{
    display: inline-block;
    font-size: 22px;
    color: #5b32b4;
}
.features .feature-content p{
    margin-top: 15px;
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
}
/**************End features*************/
/*Start Video*/

.video .vedio-play{
    background-image: url('../images/video.jpg');
    height: 650px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    border: 20px solid #fff;
    border-radius: 20px;
    box-shadow: 0 10px 50px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 1;
}
.video .vedio-play .play-button a{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fb397d;
    color: #fff;
    text-align: center;
    line-height: 80px;
    display: block;
    font-size: 36px;
    position: absolute;
    top:50%;
    left: 50%;
    transition-duration: 500ms;
    

}
.video .vedio-play .play-button a:hover{
    background-color: #a865e1;
    transition-duration: 500ms;
}
.video .facts-counter{
    position: relative;
    z-index: auto;
    background: #a865e1;
    background: -webkit-linear-gradient(to left, #7873ed, #a865e1);
    background: -webkit-linear-gradient(right, #7873ed, #a865e1);
    background: -webkit-gradient(linear, right top, left top, from(#7873ed), to(#a865e1));
    background: -o-linear-gradient(right, #7873ed, #a865e1);
    background: linear-gradient(to left, #7873ed, #a865e1);
    padding: 180px 0 80px 0;
    top: -100px;
}
.video .facts-counter .counter-content{
    display: flex;
    flex-direction: row;
    color: #fff;
}
.video .facts-counter .counter-content .counter{
    align-self: flex-end;
    min-width: 100px;
}
.video .facts-counter .counter-content .counter h3{
    font-size: 60px;
    margin-bottom: 0;
    line-height: 1;
}
.video .facts-counter .counter-content .content i{
    font-size: 36px;
} 
.video .facts-counter .counter-content .content p{
    font-size: 18px;
    margin-bottom: 0;
}
/******************End  video************************/
/*screenShots Start*/
.owl-carousel.slide{
    padding: 0 6%;
}

.owl-carousel.slide .slide-image img{
    width: 100%;
}
.owl-carousel.slide .owl-dots{
    display: inline-block !important;
    width: 100%;
    text-align: center;
}
.owl-carousel.slide button.owl-dot {
    height: 11px;
    width: 11px;
    border: 2px solid #a49fba;
    border-radius: 50%;
    display: inline-block;
    margin: 0 6px;
    margin-top: 50px;
    text-align: center;
}
.owl-carousel.slide button.owl-dot.active{
    background: #fb397d;
    border:transparent;
}


/****************screenShots end*******************/
/*pricing Start*/
.pricing .card {
    border-radius: 30px 30px 0 0;
    border-bottom-right-radius: 30px;
    background-color: white;
}
.pricing .card .card-header{
    padding: 40px 0;
    border-radius: 30px 30px 0 0;
    text-align: center;
    background-color: white;
    border-bottom: none;
}
.pricing .card .card-header h5{
    color: #5b32b4;
    font-size: 18px;
}
.pricing .card .card-header .price span,
.pricing .card .card-header .price h4{
    display: inline-block;
    color: #fb397d;
}
.pricing .card .card-header .price h4{
    font-size: 48px;
}
.pricing .card .card-header .price span{
    font-size: 18px;
    height: 100%;
    vertical-align: top;
}
.pricing .card.active .card-header{
    background-color: #a865e1;
}
.pricing .card.active h5,
.pricing .card.active .card-header .price span,
.pricing .card.active .card-header .price h4{
    color: #fff;
} 


.pricing .card .card-body{
    text-align: center;
    padding: 0;
}
.pricing .card .card-body p:first-child{
    border-top: 1px solid #ebebeb;
}
.pricing .card .card-body p{
    margin-bottom: 0;
    line-height: 1;
    padding: 15px 0;
    border-bottom: 1px solid #ebebeb;
    color: #726a84;
}
.pricing .card .card-footer{
    border-bottom-right-radius: 30px;
   background-color: #726a84;
    text-align: center;
    transition-duration: 500ms;
    padding: 0;
    
}
.pricing .card .card-footer a{
    display: block;
    padding: 10px 0;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
}
.pricing .card .card-footer a:hover{
    text-decoration: none ;
}
.pricing .card:hover >.card-footer{
    background-color: #a865e1;
    transition-duration: 500ms;
}


/*pricing End*/
/*testimonials start*/
.testimonials{
    width: 100%;
    height: auto;
    overflow-x: hidden;
    display: block;
}



/**/
.testimonials .memberShib{
    width: 100%;
   align-items: center;
   background: linear-gradient(to left, #7873ed, #a865e1);
   padding: 50px 0;
}
.testimonials .memberShib .membership-description{
    color: #fff;
}
.testimonials .memberShib .membership-description h2{
    font-size: 36px;
    font-weight: 400;
    line-height: 1.2
}
.testimonials .memberShib .membership-description h4{
    font-size: 36px;
}
.testimonials .memberShib .membership-description p{
    font-size: 16px;
    margin-bottom: 0;
}
.testimonials .memberShib .start-btn{
    text-align: right;
}
.testimonials .memberShib .start-btn a{
 display: inline-block;
 background-color: #fff;
 color: #fb397d;
 height: 45px;
 min-width: 155px;
 line-height: 45px;
 font-weight: 500;
border-radius: 23px 23px 23px 0;
text-align: center;
-webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.testimonials .memberShib .start-btn a:hover{
    text-decoration: none;
    color: #fff;
    background-color: #0056b3;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}

/*testimonials end*/
/*Our team start*/
.team .ourTeam .member {
    width: 100%;
    margin-bottom: 50px;
 
}
.team .ourTeam .member .memberImage{
    margin-bottom: 30px;
    border-radius: 30px 30px 30px 0;
    position: relative;
    z-index: 1;
}
.team .ourTeam .member .memberImage img{
    width: 100%;
    border-radius: 30px 30px 30px 0;
}
.team .ourTeam .member .memberImage .overLaye{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(105, 75, 228, 0.8);
    border-radius: 30px 30px 30px 0;
    opacity: 0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    -webkit-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
}
.team .ourTeam .member .memberImage .overLaye .teamSocial{
    position: absolute;
    z-index: 5;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.team .ourTeam .member .memberImage .overLaye .teamSocial a{
    display: inline-block;
    color: #fff;
    background: #9a81d7;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px 10px 10px 0;
    margin: 2.5px;

}
.team .ourTeam .member .memberImage:hover > .overLaye{
    opacity:1;
}
.team .ourTeam .member .memberInformation h4{
    font-size: 22px;
    color: #5b32b4;
}
.team .ourTeam .member .memberInformation p{
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}
/*Our team End*/
/*Start contact*/
.contact .section-title{
    text-align: left;
}
.contact .section-title h2::after{
    left:5px;
}
.contact .text p{
    margin-bottom: 90px;
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}
.contact .contactInformation p {
    font-size: 18px;
    margin-bottom: 10px;
  color: #726a84;
}
.contact .contactInformation p  span{
    color: #5b32b4;
}
.contact form .form-group input,
.contact form .form-group textarea{
    font-size: 18px;
    padding: 15px 15px;
    border-radius: 25px 25px 25px 0;
    display: block;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
}
.contact form .btn.mybtn{
    background: #fb397d;
    height: 48px;
    min-width: 185px;
    color: #ffffff;
    font-weight: 500;
    border-radius: 22px 25px 22px 0;
    border: 1px solid transparent;
}
.contact form .btn.mybtn:hover{
    background: #5b32b4;
    color: #fff;
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
/*End Contct*/
/*Start footer*/
.footer .footerContent{
   text-align: center;
}
.footer .footerContent h2{
    color: #5b32b4;
    font-size: 72px;
    font-weight: 700;
}
.footer .footerContent .footerSocial a{
    display: inline-block;
    background: #9b69e4;
    font-size: 14px;
    color: #ffffff;
    height: 40px;
    width: 40px;
    line-height: 40px;
    font-weight: 500;
    border-radius: 10px 10px 10px 0px;
    margin-right: 10px;
    text-align: center;
    margin-bottom: 30px;
}
.footer .footerContent .footerSocial a.active{
    background-color: #fb397d;
}
.footer .footerContent .footerSocial a:hover{
    background-color: #fb397d;
    webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
}
.footer .footerContent .footerMenu ul li a{
    padding: 0 7.5px;
    color: #726a84;
}
.footer .footerContent p{
    color: #726a84;
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}
/*End footer*/
