body{
    font-family: 'Cabin', sans-serif;
    color: #000;
}
/*Start Header*/
.header{
    background:#884bdf
    color: #fff ; 
    width: 100%;
    padding: 0 70px;
    position: absolute;
    z-index: 99;
    top:0;
    left: 0;
}
.header a{
    color: #fff;
}
.header .navbar-brand{
    font-size: 72px;
    font-weight: bold;
    margin: 0;
    padding: 0;
    line-height: 1;
}
.navbar-nav {
    margin-left: 200px;
}
.navbar-nav .nav-link{
    font-size: 16px;
    padding: 35px 15px;
    font-weight: 500;
    border-radius: 30px;

}
.header .menu form{
  margin-left: 60px;
}
.header .menu form a{
    color: #fff;
    font-weight: 500;
    display: inline-block;
    border: 2px solid #a883e9;
    height: 50px;
    min-width: 178px;
    line-height: 46px;
    text-align: center;
    border-radius: 24px 24px 24px 0px;
    transition-duration: 500ms;
    
}
.header .menu form a:hover{
    text-decoration: none;
    background: #fb397d;
    color: #fff;
    border-color: transparent;
    transition-duration: 500ms;
}
/*End Header*/
/*Start Home*/
.home{
    background-image: url('../images/welcome-bg.png');
    background-position: bottom center;
    background-size: cover;
    height: 900px;
    position: relative;
    z-index: 1;
}
.home .home-hrading{
    padding-top: 350px; 
    color: #fff;
}
.home .home-hrading h2{
    font-size: 100px;
    font-weight: 700;
    position: relative;
    z-index: 3;
}
.home .home-hrading h3{
    font-size: 332px;
    position: absolute;
    top: 205px;
    font-weight: 900;
    left: -13px;
    z-index: -1;
    opacity: .1;
}
.home .home-hrading p{
    font-size: 16px;
    font-weight: 300;
    margin-top: 0;
}
.home .start form input[type=email]{
    background: #9572e8;
    height: 50px;
    max-width: 260px;
    border: none;
    border-radius: 24px;
    padding: 0px 15px;

}
.home .start form input[type=email]::-webkit-input-placeholder{
    color: #fff;
}
.home .start form input[type=email]::-moz-placeholder{
    color: #fff;
}
.home .start form input[type=email]:-ms-input-placeholder {
    color: #fff;
}
.home .start form input[type=email]:-moz-placeholder {
    color: #fff;
}
.home .start form input[type=submit]{
    color: #fff;
    border-radius: 24px 24px 24px 0px;
    transition-duration: 500ms;
    background: #fb397d;
    border: none;
    font-weight: 500;
    display: inline-block;
    height: 50px;
    min-width: 167px;
    line-height: 46px;
    text-align: center;
    margin-left: 10px;
}
.home .start form input[type=submit]:hover{
    background: #6f52e5;
    transition-duration: 500ms;
}